.pricing {
  height: 930px;
  background-color: black;
  padding: 28px 0 60px;
  color: white;
}

.pricing .heading {
  margin-bottom: 120px;
  padding-left: 40px;
  box-sizing: border-box;
}

.pricing-options {
  display: flex;
  justify-content: space-between;
}

.pricing .tag {
  background-color: #8c939e33;
  color: #f0f0f0;
  opacity: 0.6;
  padding: 6px 12px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: bold;
}

.pricing-options .pricing-option:nth-child(3) .tag {
  opacity: 1;
  color: #ff4d12;
  background-color: #ff4d1233;
}