.gallery-container {
  width: 100vw;
  overflow: hidden;
  margin: 85px 0;
  position: relative;
}

.gallery {
  display: flex;
  width: max-content;
  animation: scrollGallery 20s linear infinite;
  position: relative;
}

.gallery-item {
  width: 240px;
  height: 292px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  flex-shrink: 0;
}

.gallery p.not-found {
 width: 100vw;
 text-align: center;
}

/* smooth infinite scroll */
@keyframes scrollGallery {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
